<div id="nav">
  
      <nav class="">
        <ul class="dropdown">
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">
              <svg width="25" height="25" id="icoOpen">
                <path d="M0,2 30,2" stroke="#000" stroke-width="3"/>
                <path d="M0,11 30,11" stroke="#000" stroke-width="3"/>
                <path d="M0,20 30,20" stroke="#000" stroke-width="3"/>
              </svg>
            </a>
            
            <div class="dropdown-content">
              <a href="{% url 'index' %}">Home</a>
              <a href="{% url 'BOMmanager_index' %}">BOM manager</a>
              <a href="">Wishlist</a>
              <a href="/admin">Admin</a>
            </div>
          </li>
        </ul>
      </nav>
    
</div>

